@{
    ViewBag.Title = "Calculate Premium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3 style="text-align:center;">Member Premium Calculation</h3>
</div>
<div ng-controller="MemberController">
    <form name="CreateForm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="formGroupExampleInput">Name</label>
                        <input type="text" class="form-control" id="Name" ng-model="Name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Age</label>
                        <input type="text" class="form-control" id="Age" ng-model="Age" placeholder="Age"  maxlength="2">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Date Of Birth</label>
                        <input type="text" class="form-control" id="Age" ng-model="DateOfBirth" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Occupation</label>
                        <select class="form-control" id="Occupation" ng-model="Occupation"
                                ng-options="ocu.ID as ocu.Text for ocu in occupationList"
                                ng-change="occupationChanged()"></select>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Death</label>
                        <input type="text" class="form-control" id="Death" ng-model="Death" maxlength="10">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput">Premium</label>
                        <input type="text" class="form-control" id="Premium" ng-model="Premium" readonly>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="calculatePremiumClick();"> Calcuate</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>